@use 'variables' as *;
@use 'reset';

body {
  font-family: $font-stack--reading;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack--headings;
}

.hero{
min-height:100vh;
width:100%;
background-color:black;
background-image: url(img/spinning-sphere-gif.gif);
background-position:center;
background-repeat:repeat;
}
